:root {
    --text-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --text-darkblue: hsl(240, 6%, 50%);
    --text-verydarkblue: hsl(237, 12%, 33%);
    --gradient-violet: hsl(273, 75%, 66%);
    --gradient-blue: hsl(240, 73%, 65%);
    --divider-blue: hsl(240, 5%, 91%);
}

html {
    box-sizing: border-box;
    /* not sure why */
    font-size: 100%;
}

*, *::after, *::before {
    /* not sure why */
    box-sizing: inherit; 
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(var(--gradient-violet), var(--gradient-blue));
    padding: 3rem;
}

.card {
    background: white;
    border-radius: 2rem;
    /* max width helps make it more reponsive */
    max-width: 56rem;
    background-image: url('images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: center 0%;
    background-size: 50%;
}

.card-box {
    display: none;
}

.card-image img {
    width: 100%;
    height: auto;
    /* research max and min width */
    max-width: 15rem;
    margin: auto;
    display: block;
}

/* 16 pixels equals 1rem/em */
@media (min-width: 56em) {
    /* Desktop Attributes */
    .card {
        position: relative;
        display: flex;
        margin: 6rem auto;
        padding-right: 2rem;
        background-image: url('images/bg-pattern-desktop.svg');
        /* research these three */
        background-size: 45%;
        background-position: -13% center;
    }

    .card-box {
        display: block;
        position: absolute;
        top: 57%;
        left: 0;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
    }

    .card-image, .card-text {
        flex: 1;
    } 

    .card-image {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .card-image img {
        transform: translateX(-4rem);
        max-width: 25rem;
    }
}
